<h1>New Expense Catagory</h1>

<div class="row">
    <div class="row">
    <%= form_for @expense do |f| %>
        <table class="table">
        <tr>
            <th scope="col">Expense Catagory</th>
            <th scope="col">Planned Amount</th>
            <th scope="col">Actual Ammount</th>
            <th scope="col">Short Term Savings</th>
            <th scope="col">Long Term Savings</th>
        </tr>
        <tr>
            <td>
            <%= f.text_field :name, class: 'form-control', placeholder: "expense catagory name" %>
            </td>

            <td>
            <%= f.text_field :planned_amount, class: 'form-control', placeholder: "estimated budget" %>
            </td>

            <td>
            <%= f.text_field :actual_amount, class: 'form-control', placeholder: "amount spent", disabled: true %>
            </td>

            <td>
            <%= f.check_box :short_term_savings, class: 'short-term-check' %>
            </td>

            <td>
            <%= f.check_box :long_term_savings, class: 'long-term-check' %>
            </td>

        </tr>
        </table>

        <%= f.submit "Save", class: 'btn btn-success' %>
        <% end %>
        <%= link_to "Back", expenses_path, class: 'btn btn-warning' %>
    </div>
</div>